<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
    <script type="text/javascript" src="{% static 'js/custom_admin.js' %}"></script>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Health API</h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'department-list-create' %}">Departments</a>
        <a href="{% url 'doctor-list-create' %}">Doctors</a>
        <a href="{% url 'patient-list-create' %}">Patients</a>
        <a href="{% url 'patient-record-list-create' %}">Records</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
